# http://editorconfig.org

# top-most EditorConfig file
root = true

# Set style for every file
[*]

# Unix-style newlines with a newline ending
end_of_line = lf
insert_final_newline = true

# Space indentation with size 2
indent_style = space
indent_size = 2

# UTF-8 encoding
charset = utf-8

# editorconfig-tools is unable to ignore longs strings or urls
max_line_length = null

# Enable traling whitespace
trim_trailing_whitespace = true

# Disable traling whitespace for Markdown files
[*.md]
trim_trailing_whitespace = false

# Change identiation for Python files
[*.py]
indent_size = 4
